In [19]:
## glob(file_pattern, recursive = False)
## glob.glob(pathname)
## It retrieves the list of files matching the specified pattern in the file_pattern parameter.
## The file_pattern can be an absolute or relative path. It may also contain wild cards such as “*” or “?” symbols.
## The recursive parameter is turn off (False) by default. When True, it recursively searches files under all subdirectories of the current directory.

In [20]:
import os
import glob
import pandas as pd

In [13]:
quarter_ridership_data_cleansed = pd.concat([pd.read_csv(i) for i in glob.glob('city_bike_data/CitiBikeRidershipandMembershipData/*.csv')], ignore_index = True)
trip_data_cleansed = pd.concat([pd.read_csv(i) for i in glob.glob('city_bike_data/CitiBikeTripHistoriesData/*.csv')], ignore_index = True)

In [14]:
quarter_ridership_data_cleansed.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,4/1/18,33148,94040,257811,2363,264
1,4/2/18,22062,50418,257889,297,20
2,4/3/18,25883,59477,257942,189,21
3,4/4/18,36755,80049,258025,611,48
4,4/5/18,39814,87382,258086,972,112

In [15]:
quarter_ridership_data_cleansed.count()

Date                                                  365
Trips over the past 24-hours (midnight to 11:59pm)    365
Miles traveled today (midnight to 11:59 pm)           365
Total Annual Members (All Time)                       365
24-Hour Passes Purchased (midnight to 11:59 pm)       365
3-Day Passes Purchased (midnight to 11:59 pm)         365
dtype: int64

In [16]:
trip_data_cleansed.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [17]:
trip_data_cleansed.count()

tripduration               353892
starttime                  353892
stoptime                   353892
start station id           353892
start station name         353892
start station latitude     353892
start station longitude    353892
end station id             353892
end station name           353892
end station latitude       353892
end station longitude      353892
bikeid                     353892
usertype                   353892
birth year                 353892
gender                     353892
dtype: int64

In [18]:
# Export to csv
quarter_ridership_data_cleansed.to_csv("data_cleansed/cleansed_quarter_data_2018.csv")
trip_data_cleansed.to_csv("data_cleansed/cleansed_data_2018.csv")